.row {
  min-height: 100vh;
}

.container {
  max-width: 500px;
}

.logo_img {
  width: 70px;
  height: 70px;
}

.logo_text {
  display: flex;
  flex-direction: column;
  line-height: 1;
  font-weight: 700;
  font-size: 20px;
  justify-content: flex-end;
  font-family: monospace;
  text-transform: lowercase;
}

.bg {
  img {
    inset: 0;
    object-position: top;
  }
}
